@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, * {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

h1 {
  width: 80%;
  margin: 20px auto;
  color: black;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
}

th, td {
  padding: 8px;
  text-align: left;
  border: 1px solid black;
}

thead tr {
  background-color: #eeab93;
}

tbody tr:hover {background-color: #eeab93;}

.form-wrapper {
    font-size: 18px;
    max-width: 768px;
    margin: 2rem auto;
    padding: 2rem;
    border: solid 1px lightgrey;
    border-radius: 15px;
    box-shadow: 3px 2px 6px lightgrey;
}

label, input {
  margin-top: 5px;
  display: block;
  font-size: inherit;
}

input[type="text"] {
  padding: .25rem;
}

input[type="submit"] {
  background-color: lightgrey;
  border: none;
  padding: .375rem 1rem;
  margin-top: 10px;
}
